<!DOCTYPE html>
<html lang="em">
  <head>
    <meta charset="utf-8">
    <title>Tango Drones</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Archivo+Black|Lato:400,100,300' type='text/css'>
  </head>
  <body>
    <header class="primary-nav container group">
      <h1 class="logo">
        <a id='primary-header' onclick="noFocus()">TANGO DRONES</a>
      </h1>
      <div class='nav nav-options'>
        <a id="shop" onclick="focus('shop')">Product List</a>
        <a id="order" onclick="focus('order')">Order</a>
        <a id="contact" onclick="focus('contact')">Contact</a>
      </div>
      </div class='nav-options'>
    </header>
    <section class="hero container">
      <ul class="main-list">
        <li>
          <section id='home-blurb' class="hero blurb">
            <h3>Welcome to Tango Drones</h3>
            <h5>Your source for drone parts.</h5>
          </section>
        </li>

        <li>
          <section id='shop-blurb' class="hero blurb">
            <h5 class='blurb-title'>Online Ordering Coming Soon!</h5>
            <h4 class="blurb-text">In the meantime, find our product list below. Order via email to
              <a style="font-weight: bold;" href="mailto:sales@tango-drones.com?Subject=TangoOrders" target="_top">
                sales@tango-drones.com</a>
            </h4>
            <table>
              <thead class='table-header'>
                <tr>
                  <th>Voltage (S)</th>
                  <th>Current Rating (C)</th>
                  <th>Capacity (mAh)</th>
                  <th class="full-item">Full Item #</th>
                  <th>Minimum Advertised Price (USD)</th>
                  <th>Listed Price (USD)</th>
                </tr>
              </thead>
              <tbody class='table-body'>
                <tr><td>4</td><td>15</td><td>5200</td><td>TA-15C-5200-4S1P-XT60</td><td>$47.19</td><td>$47.19</td></tr>
                <tr><td>6</td><td>15</td><td>7000</td><td>TA-15C-7000-6S1P</td><td>$79.99</td><td>$79.99</td></tr>
                <tr><td>6</td><td>15</td><td>8000</td><td>TA-15C-8000-6S1P-XT60</td><td>$141.98</td><td>$141.98</td></tr>
                <tr><td>6</td><td>15</td><td>12000</td><td>TA-PLUS-15C-12000-6S1P-AS150</td><td>$263.99</td><td>$263.99</td></tr>
                <tr><td>6</td><td>15</td><td>12000</td><td>TA-15C-12000-6S1P-XT90</td><td>$260.63</td><td>$260.63</td></tr>
                <tr><td>6</td><td>15</td><td>12000</td><td>TA-15C-12000-6S1P-AS150</td><td>$260.63</td><td>$260.63</td></tr>
                <tr><td>6</td><td>15</td><td>12000</td><td>TA-15C-12000-6S1P-EC5</td><td>$260.63</td><td>$260.63</td></tr>
                <tr><td>6</td><td>15</td><td>12000</td><td>TA-PLUS-15C-12000-6S1P-EC5</td><td>$263.99</td><td>$263.99</td></tr>
                <tr><td>4</td><td>15</td><td>16000</td><td>TA-15C-16000-4S1P</td><td>$231.67</td><td>$231.67</td></tr>
                <tr><td>6</td><td>15</td><td>16000</td><td>TA-PLUS-15C-16000-6S1P-AS150</td><td>$339.99</td><td>$339.99</td></tr>
                <tr><td>6</td><td>15</td><td>16000</td><td>TA-15C-16000-6S1P-EC5</td><td>$325.79</td><td>$325.79</td></tr>
                <tr><td>6</td><td>15</td><td>16000</td><td>TA-15C-16000-6S1P-AS150</td><td>$325.79</td><td>$325.79</td></tr>
                <tr><td>4</td><td>25</td><td>1000</td><td>TA-25C-10000-4S1P</td><td>$149.99</td><td>$149.99</td></tr>
                <tr><td>4</td><td>25</td><td>6750</td><td>TA-25C-6750-4S1P-XT90</td><td>$99.00</td><td>$99.00</td></tr>
                <tr><td>6</td><td>25</td><td>9000</td><td>TA-25C-9000-6S1P</td><td>$205.62</td><td>$205.62</td></tr>
                <tr><td>6</td><td>25</td><td>10000</td><td>TA-25C-10000-6S1P-AS150</td><td>$210.00</td><td>$210.00</td></tr>
                <tr><td>4</td><td>25</td><td>22000</td><td>TA-25C-22000-4S1P</td><td>$343.89</td><td>$343.89</td></tr>
                <tr><td>6</td><td>25</td><td>22000</td><td>TA-PLUS-25C-22000-6S1P-AS150</td><td>$461.89</td><td>$461.89</td></tr>
                <tr><td>6</td><td>25</td><td>22000</td><td>TA-25C-22000-6S1P-AS150</td><td>$461.89</td><td>$461.89</td></tr>
                <tr><td>6</td><td>35</td><td>6000</td><td>TA-35C-6000-6S1P-XT60</td><td>$129.99</td><td>$129.99</td></tr>
                <tr><td>4</td><td>35</td><td>6600</td><td>TA-35C-6600-4S2P-XT60</td><td>$95.00</td><td>$95.00</td></tr>
              </tbody>
            </table>
          </section>
        </li>

        <li>
          <section id='contact-blurb' class="hero blurb">
            <p>Church St, Decatur GA</p>
            <p>Get in touch at <a class=""
                                  href="mailto:sales@tango-drones.com?Subject=TangoOrders"
                                  target="_top">sales@tango-drones.com</a>
            </p>
          </section>
        </li>

        <li>
          <section id='order-blurb' class='hero blurb'>
            <h4>ONLINE ORDERING COMING SOON!</h4>
            <!-- <div>
              <p>Motors</p>
              <select class="motors-select" name="motors-select">
                <option id='TA-15C-5200-4S1P-XT60'>4 15 5200 TA-15C-5200-4S1P-XT60 $47.19 $47.19</option>
                <option id='TA-15C-7000-6S1P'>6 15 7000 TA-15C-7000-6S1P $79.99 $79.99</option>
                <option id='TA-15C-8000-6S1P-XT60'>6 15 8000 TA-15C-8000-6S1P-XT60 $141.98 $141.98</option>
                <option id='TA-PLUS-15C-12000-6S1P-AS150'>6 15 12000 TA-PLUS-15C-12000-6S1P-AS150 $263.99 $263.99</option>
                <option id='TA-15C-12000-6S1P-XT90'>6 15 12000 TA-15C-12000-6S1P-XT90 $260.63 $260.63</option>
                <option id='TA-15C-12000-6S1P-AS150'>6 15 12000 TA-15C-12000-6S1P-AS150 $260.63 $260.63</option>
                <option id='TA-15C-12000-6S1P-EC5'>6 15 12000 TA-15C-12000-6S1P-EC5 $260.63 $260.63</option>
                <option id='TA-PLUS-15C-12000-6S1P-EC5'>6 15 12000 TA-PLUS-15C-12000-6S1P-EC5 $263.99 $263.99</option>
                <option id='TA-15C-16000-4S1P'>4 15 16000 TA-15C-16000-4S1P $231.67 $231.67</option>
                <option id='TA-PLUS-15C-16000-6S1P-AS150'>6 15 16000 TA-PLUS-15C-16000-6S1P-AS150 $339.99 $339.99</option>
                <option id='TA-15C-16000-6S1P-EC5'>6 15 16000 TA-15C-16000-6S1P-EC5 $325.79 $325.79</option>
                <option id='TA-15C-16000-6S1P-AS150'>6 15 16000 TA-15C-16000-6S1P-AS150 $325.79 $325.79</option>
                <option id='TA-25C-10000-4S1P'>4 25 1000 TA-25C-10000-4S1P $149.99 $149.99</option>
                <option id='TA-25C-6750-4S1P-XT90'>4 25 6750 TA-25C-6750-4S1P-XT90 $99.00 $99.00</option>
                <option id='TA-25C-9000-6S1P'>6 25 9000 TA-25C-9000-6S1P $205.62 $205.62</option>
                <option id='TA-25C-10000-6S1P-AS150'>6 25 10000 TA-25C-10000-6S1P-AS150 $210.00 $210.00</option>
                <option id='TA-25C-22000-4S1P'>4 25 22000 TA-25C-22000-4S1P $343.89 $343.89</option>
                <option id='TA-PLUS-25C-22000-6S1P-AS150'>6 25 22000 TA-PLUS-25C-22000-6S1P-AS150 $461.89 $461.89</option>
                <option id='TA-25C-22000-6S1P-AS150'>6 25 22000 TA-25C-22000-6S1P-AS150 $461.89 $461.89</option>
                <option id='TA-35C-6000-6S1P-XT60'>6 35 6000 TA-35C-6000-6S1P-XT60 $129.99 $129.99</option>
                <option id='TA-35C-6600-4S2P-XT60'>4 35 6600 TA-35C-6600-4S2P-XT60 $95.00 $95.00</option>
              </select>
            </div> -->
          </section>
        </li>
      </ul>
    </section>
    <footer class="primary-footer container group">
      <nav class="nav">
        <ul>
          <li><a class="btn" href="mailto:sales@tango-drones.com?Subject=TangoInfo" target="_top">CONTACT US</a></li>
        </ul>
      </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        document.getElementById("shop").addEventListener('click', function(){
          focus("#shop");
        });
        document.getElementById("contact").addEventListener('click', function(){
          focus("#contact");
        });
        document.getElementById("order").addEventListener('click', function(){
          focus("#order");
        });
        noFocus();
      });

      function noFocus() {
        var divs = ["#shop", "#contact", "#order"]
        divs.forEach(function(div) {
          $("" + div + "-blurb").hide();
        })
        $("#home-blurb").show("fast");
      };

      function focus(focus) {
        var divs = ["#home", "#shop", "#contact", "#order"]
        $("" + focus + "-blurb").show("fast");
        divs.forEach(function(div) {
          if (div != focus) { $("" + div + "-blurb").hide(); }
        })
      };
    </script>
  </body>
</html>
