<h1>Tango Drones</h1>
<%= link_to 'Hamilton', products_tango_drones_hamilton_path, class: "products-index"%>
<%= link_to 'Eigen', products_tango_drones_eigen_path, class: "products-index" %>
<%= link_to 'Hoodlum', products_tango_drones_hoodlum_path, class: "products-index" %>
<%= link_to 'Hammer', products_tango_drones_hammer_path, class: "products-index" %>
